@import url("https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css");
@import 'tailwindcss';
@import './forms.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --color-bg: #f7f6f2 !important;
    --font-inter: 'Inter', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

html,
body,
.app-shell,
.app-main {
    background-color: #f7f6f2 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: #333;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #333;
}
